<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.friend.py.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="com.friend.py.model.Account" >
    <id column="acc" property="acc" jdbcType="VARCHAR" />
    <result column="psd" property="psd" jdbcType="VARCHAR" />
    <result column="accType" property="acctype" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    acc, psd, accType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.friend.py.model.AccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from account
    where acc = #{acc,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from account
    where acc = #{acc,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.friend.py.model.AccountExample" >
    delete from account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.friend.py.model.Account" >
    insert into account (acc, psd, accType
      )
    values (#{acc,jdbcType=VARCHAR}, #{psd,jdbcType=VARCHAR}, #{acctype,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.friend.py.model.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acc != null" >
        acc,
      </if>
      <if test="psd != null" >
        psd,
      </if>
      <if test="acctype != null" >
        accType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acc != null" >
        #{acc,jdbcType=VARCHAR},
      </if>
      <if test="psd != null" >
        #{psd,jdbcType=VARCHAR},
      </if>
      <if test="acctype != null" >
        #{acctype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.friend.py.model.AccountExample" resultType="java.lang.Integer" >
    select count(*) from account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update account
    <set >
      <if test="record.acc != null" >
        acc = #{record.acc,jdbcType=VARCHAR},
      </if>
      <if test="record.psd != null" >
        psd = #{record.psd,jdbcType=VARCHAR},
      </if>
      <if test="record.acctype != null" >
        accType = #{record.acctype,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update account
    set acc = #{record.acc,jdbcType=VARCHAR},
      psd = #{record.psd,jdbcType=VARCHAR},
      accType = #{record.acctype,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.friend.py.model.Account" >
    update account
    <set >
      <if test="psd != null" >
        psd = #{psd,jdbcType=VARCHAR},
      </if>
      <if test="acctype != null" >
        accType = #{acctype,jdbcType=CHAR},
      </if>
    </set>
    where acc = #{acc,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.friend.py.model.Account" >
    update account
    set psd = #{psd,jdbcType=VARCHAR},
      accType = #{acctype,jdbcType=CHAR}
    where acc = #{acc,jdbcType=VARCHAR}
  </update>
</mapper>