<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet" type="text/css">

</head>
<body class="text-center">
<form class="form-signin">
    <h1 class="h3 mb-9 font-weight-normal">Change Password</h1>
    <label for="oldPassword" class="sr-only">Old Password</label>
    <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Old Password" required autofocus>
    <label for="newPassword" class="sr-only">New Password</label>
    <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" required>

    <!--<p id="telephoneError" style="margin-bottom: -2px;color: red;"></p>-->
    <button class="btn btn-lg btn-primary btn-block" formaction="/UpdatePassword" formmethod="post" type="submit">Change</button>
    <p class="mt-5 mb-3 text-muted">&copy; Peng You && Bootstrap 2018</p>
</form>
</body>
</html>